@mixin styleTextA($color,$text-decor,$fs) {
    color: $color;
    text-decoration: $text-decor;
    font-size: $fs;
}

@mixin styleButton($color,$bg-color,$border){
    color: $color;
    background-color: $bg-color;
    border: $border;
}

@mixin responsive($screen){
    @if(map-has-key($map: $breakpoints, $key:$screen )){
        //$screen hợp lệ có mảng trong breakpoint
        $width:map-get($map:$breakpoints , $key: $screen);
        //map-get lấy giá trị của key trong breakpoints
        @media (min-width:$width) {
            @content;
        }
    } @else{
        @warn "invalid screen"
    }
}