// color
$color-blue-1: #1b74e4;
$color-white-1: white;

// backgroud-color
$bg-color-1: #e9ecef;

//font-weight
$fw-1: 300;
$fw-2: 500;

// padding
$pd-bottom-top-1: 5rem 0; // Header

//breakpoint
$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "extra large": 1200px,
);
