// color
$color-blue-1:#1B74E4 ;
$color-white-1: white;

// backgroud-color
$bg-color-1: #e9ecef;

//font-weight
$fw-1 : 300;
$fw-2 : 500;

// padding
$pd-bottom-top-1: 5rem 0; // Header
$pd-bottom-top-2: 3.75rem 0; // Footer
